// Buttons

$btn--border: $border-base;
$btn--padding: 0.75rem 0;
$btn--padding-sm: 0.5rem 0;
$btn--width-sm: 10rem;

.btn,
.button {
  @extend .font-size-lg;
  @include appearance(none);
  @include transition(all 0.5s ease);

  background: transparent;
  border-radius: 0;

  border: {
    top: $btn--border;
    bottom: $btn--border;
  }

  cursor: pointer;
  display: inline-block;
  padding: $btn--padding;
  text-align: center;
  width: 100%;

  @include hover-focus {
    color: $grey;
  }

  &--small {
    @extend .font-size-sm;
    padding: $btn--padding-sm;
    max-width: $btn--width-sm;
  }
}