// Fonts

@font-face {
  font-family: "founders-groteskr";
  src: url("../fonts/founders-grotesk/foundersgrotesk-regular.woff2") format("woff2"),
    url("../fonts/founders-grotesk/foundersgrotesk-regular.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "founders-groteskr-light";
  src: url("../fonts/founders-grotesk/foundersgrotesk-light.woff2") format("woff2"),
    url("../fonts/founders-grotesk/foundersgrotesk-light.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
}